@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body , html{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    height: 100%;
}

.container{
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.content{
    text-align: center;
    background-color: rgba(255, 255,255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
}

.logo{
    width: 150px;
    /* height: 150px; */
    object-fit: contain;
}

h1{
    color: #333;
    margin-bottom: 0.5rem;

}
p{
    color: #666;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
}

input[type="email"]{
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 5px;
    border: 2px solid #ccc;
    
}
button{
    padding: 10px;
    border-radius: 5px;
    border:none ;
    background-color: #8a2be2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: #7a1dd1;
}

